<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration
        PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.url">jdbc:h2:/tmp/db/agilePlus</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="hbm2ddl.auto">create-drop</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <mapping class="opensource.pc.gw.entities.Project" />
        <mapping class="opensource.pc.gw.entities.Backlog" />
        <mapping class="opensource.pc.gw.entities.Epic" />
        <mapping class="opensource.pc.gw.entities.Release" />
        <mapping class="opensource.pc.gw.entities.Sprint" />
        <mapping class="opensource.pc.gw.entities.Story" />
        <mapping class="opensource.pc.gw.entities.Task" />

    </session-factory>
</hibernate-configuration>